#multi-form-add-nav {

    max-width: 660px;
    margin: 0 auto;
    font-size: 22px;

    /*
    li{
        display: inline;
        list-style-type: none;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        
    }

    a {
        display: inline-block;
        width: 33%;
        padding: .75rem 0;
        margin: 0;
        text-decoration: none;
        color: #333;
    }
    */
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    li {
        float: left;
        width : 33%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    li a {
        display: block;
        color: #333;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
    }
    
}

#first-form-add{
    background: skyblue;
}

.form-add{
    display: none;
    padding: 0 30px ;
    h3{
        margin-top:0px; 
        padding-top: 30px;
    }
}

#mini-form-add{
    display: block;
    background: skyblue;
}

#encounter-form-add{
    background: orangered;
}

#mythe-form-add{
    background: magenta;
}