.menu-card{
    width: 150px;
    height: 200px;
    border: blue 2px solid;
    margin: 0 50px;

    a{
        height: 100%;
        display: block;
    }

    p{
        margin: -3px 0 0 0;
        height: 46px;
        background: linear-gradient(90deg, #a026bf 20%, #e82c75 80%);
        line-height: 46px;
        text-align: center;
        color : white;
    }

    img{
        height: 150px;
        width: 150px;
        object-fit: cover;
        margin: 0;
    }
}

#menu-horror{
    display: flex;
    width : 80%;
    margin : auto;
    justify-content: center;
}