mixin addMiniCard(card = {})
    h3 Ajouter une mini carte
    form.form(action="" method="POST")
        input(type="hidden", name="schema", value="mini") 
        select(name="origin")
            option(value="Jeu de base") Jeu de base
        label(for="name") Nom
        input(type="text" name="name" required)
        label(for="type") Type
        select(name="type")
            option(value="Sort") Sort
            option(value="Condition") Condition
        label(for="type") Sous type
        input(type="text", name="sousType")
        label(for="texte") Texte
        textarea(name="texte", cols="30", rows="10" required)
        label(for="backtext") Texte au dos
        textarea(name="backtext", cols="30", rows="10")
        label(for="type") Activation
        input(type="text", name="trigger")
        
        input(type="submit", value="Ajouter la carte")

mixin addEncounterCard(card = {})
    h3 Ajouter une carte rencontre
    form.form(action="" method="POST")
        input(type="hidden", name="schema" value="encounter") 
        select(name="origin")
            option(value="Jeu de base") Jeu de base
        label(for="name") Nom Quête
        input(type="text" name="name")
        label(for="type") Type*
        select(name="type" id="select-type-encounter")
            option(value="Portail") Portail
            option(value="Expedition") Expédition
            option(value="Ville") Ville
            option(value="Jungle") Jungle
            option(value="Mer") Mer
            option(value="Indice") Indice
            option(value="RechGA") Recherche Grand Ancien
            option(value="Other") Autre
        label(for="lieux") Lieux 
        input(type="text" name="lieux")
        label(for="first") Premier bloc
        input(type="text", name="first-title" placeholder="Titre")
        textarea(name="first", cols="30", rows="10" required)
        label(for="second") Second bloc
        input(type="text", name="second-title" placeholder="Titre")
        textarea(name="second", cols="30", rows="10" )
        label(for="third") Troisième bloc
        input(type="text", name="third-title" placeholder="Titre")
        textarea(name="third", cols="30", rows="10" )
        label(for="number") Numero
        input(type="text", name="number")

        input(type="submit", value="Ajouter la carte")