extends ../layout
include ./mixins/_addCardHorror
block content
    h2 Ajouter une carte
    a.button(href="/horror") Retour au menu
    nav#multi-form-add-nav
        ul
            li#first-form-add 
                a(href="#") Mini Carte
            li#sec-form-add
                a(href="#") Carte Rencontre
            li#third-form-add
                a(href="#") Carte Mythe
                
    #multi-form-add
        #mini-form-add.form-add
            +addMiniCard()
        #encounter-form-add.form-add
            +addEncounterCard()
        #mythe-form-add.form-add
            +addMytheCard()
    