extends ../layout
include ../mixins/_addCardHorror
block content
    h2 Les contrées de l'horreur ! 
    #menu-horror
        a(href="horror/add-card") 
            .menu-card
                img(src="/images/horror/bandeau.jpg", alt="Bandeau")
                p Ajouter une carte
        
        a(href="horror/list-card") 
            .menu-card
                img(src="/images/horror/bandeau.jpg", alt="Bandeau")
                p Liste des cartes